			<footer class="footer">

				{{widget('line', 'footer-line', {})|raw}}

				<div class="social-icons">

					{{widget('socialicons', 'social-icons', {
						'googleplus': 'https://plus.google.com/101946323226233111530',
						'linkedin':'http://www.linkedin.com/company/mycompanyname',
						'facebook': 'https://www.facebook.com/mycompanyname',
						'twitter': 'https://twitter.com/mycompanyname',
						'youtube': 'https://www.youtube.com/user/mycompanyname',
						'rss': 'http://news.bbc.co.uk/1/hi/help/rss/default.stm'
					})|raw}}

				</div>

			</footer>
